/**************************************************/
/* General Styles */
body {
  background-image: url('../assets/destination/background-destination-mobile.jpg');
}

/**************************************************/
/* Main */
.main__picture {
  width: 10.625rem;
  height: 10.625rem;
  display: block;
  margin-block: 2rem 1.625rem;
  overflow: hidden;
}

.main__image {
  width: 100%;
  animation: rotate_image 90000ms linear infinite;
}

@keyframes rotate_image {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.main__text {
  width: min(100%, 34rem);
}

.main__options {
  height: 1.75rem;
  column-gap: 1.563rem;
  margin-block-end: 1.25rem;
}

.main__label,
.main__info__title {
  font: 400 0.875rem var(--ff-barlow-condensed);
  letter-spacing: 0.148rem;
  text-transform: uppercase;
  color: var(--clr-light-purple);
  transition: color var(--transition-fast) ease;
}

.main__label {
  height: min-content;
  position: relative;
  cursor: pointer;
}

.main__label::after {
  content: '';
  width: 100%;
  height: 0.188rem;
  display: block;
  position: absolute;
  top: 1.563rem;
  left: 0;
  background-color: var(--clr-white);
  opacity: 0.5;
  transform: scaleX(0);
  transition: transform var(--transition-fast) ease;
  pointer-events: none;
}

.main__option + .main__label:hover::after {
  transform: scaleX(1);
}

.main__option:checked + .main__label {
  color: var(--clr-white);
}

.main__option:checked + .main__label::after {
  opacity: 1;
  transform: scaleX(1);
}

.main__second-title {
  font-size: 3.5rem;
}

.main__description {
  margin-block-end: 2rem;
}

.main__informations {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  border-top: 0.063rem solid var(--clr-greyish-blue);
  padding-block: 2rem 3.625rem;
}

.main__info__title {
  margin-block-end: 0.75rem;
}

.main__info__data {
  font-family: var(--ff-bellefair);
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--clr-white);
}

@keyframes content_animation {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/**************************************************/
/* Media Queries */

/* Tablet */
@media (min-width: 48rem) {
  body {
    background-image: url('../assets/destination/background-destination-tablet.jpg');
  }

  .main__picture {
    width: 18.75rem;
    height: 18.75rem;
    margin-block: 3.75rem 3.313rem;
  }

  .main__text {
    width: 35.875rem;
  }

  .main__options {
    height: 2.125rem;
    column-gap: 2.188rem;
    margin-block-end: 2rem;
  }

  .main__label {
    font-size: 1rem;
    letter-spacing: 0.169rem;
  }

  .main__label::after {
    top: 1.938rem;
  }

  .main__second-title {
    font-size: 5rem;
  }

  .main__description {
    margin-block: 0.5rem 3.063rem;
  }

  .main__informations {
    flex-direction: row;
    justify-content: center;
    column-gap: 6.25rem;
    padding-block: 1.75rem 3.875rem;
  }
}

/* Desktop */
@media (min-width: 64rem) {
  body {
    background-image: url('../assets/destination/background-destination-desktop.jpg');
    padding-block-end: 6.875rem;
  }

  .main {
    justify-content: center;
    padding-inline-end: 2rem;
  }

  .main__content {
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    column-gap: clamp(2.25rem, 8vw, 9.813rem);
  }

  .main__picture {
    width: min(40vw, 27.813rem);
    height: 27.813rem;
    align-self: flex-start;
    margin: 6.063rem 0 0 clamp(1rem, 2vw, 4rem);
  }

  .main__text {
    width: min(50vw, 27.813rem);
  }

  .main__options {
    height: 2.125rem;
    justify-content: flex-start;
    column-gap: 2.188rem;
    margin-block-end: 2.313rem;
  }

  .main__label {
    font-size: 1rem;
    letter-spacing: 0.169rem;
  }

  .main__second-title {
    font-size: 6.25rem;
  }

  .main__description {
    margin-block: 0.875rem 3.375rem;
  }

  .main__informations {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 4.938rem;
    padding-block: 1.75rem 0.375rem;
  }
}

@media (min-width: 90rem) {
  .main {
    justify-content: flex-start;
    padding-inline-end: 0;
  }

  .main__content {
    justify-content: flex-start;
    column-gap: 9.813rem;
  }

  .main__picture {
    margin-inline-start: 4rem;
  }
}
