/**************************************************/
/* General Styles */
body {
  row-gap: 3.125rem;
  background-image: url('../assets/home/background-home-mobile.jpg');
  padding-block-end: 3rem;
}

/**************************************************/
/* Main */
.main__section {
  justify-content: space-between;
  row-gap: 4.875rem;
}

.main__text {
  max-width: 26rem;
}

.main__first-title {
  color: var(--clr-light-purple);
}

.main__second-title {
  font-size: 5rem;
  line-height: 6.25rem;
}

.main__first-title .main__second-title {
  display: inline-block;
  margin-block: 1rem;
}

.main__button {
  width: 9.375rem;
  height: 9.375rem;
  position: relative;
  font-family: var(--ff-bellefair);
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  color: var(--clr-dark-blue);
  background-color: var(--clr-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.main__button::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--clr-white);
  opacity: 0.1;
  transition: transform var(--transition-slow) ease;
  pointer-events: none;
  z-index: -1;
}

.main__button:hover::after,
.main__button:focus-visible::after {
  transform: scale(1.4933);
}

/**************************************************/
/* Media Queries */

/* Tablet */
@media (min-width: 48rem) {
  body {
    row-gap: 6.75rem;
    background-image: url('../assets/home/background-home-tablet.jpg');
    padding-block-end: 5.5rem;
  }

  .main__section {
    row-gap: 9.75rem;
  }

  .main__text {
    max-width: 27.5rem;
  }

  .main__first-title {
    text-align: center;
  }

  .main__second-title {
    font-size: 9.375rem;
    line-height: 9.375rem;
  }

  .main__first-title .main__second-title {
    margin-block: 1.375rem;
  }

  .main__button {
    width: 15.125rem;
    height: 15.125rem;
    font-size: 2rem;
    letter-spacing: 2px;
  }

  .main__button:hover::after,
  .main__button:focus-visible::after {
    transform: scale(1.58677685950413);
  }
}

/* Desktop */
@media (min-width: 64rem) {
  body {
    row-gap: 15.75rem;
    background-image: url('../assets/home/background-home-desktop.jpg');
    padding-block-end: 8.188rem;
  }

  .main {
    padding-inline: clamp(5.75rem, 10vw, 10.313rem);
  }

  .main__section {
    flex-direction: row;
    align-items: flex-end;
    text-align: left;
  }

  .main__text {
    max-width: 28.125rem;
  }

  .main__second-title {
    font-size: 9.375rem;
    line-height: normal;
  }

  .main__button {
    width: 17.125rem;
    height: 17.125rem;
    font-size: 2rem;
    letter-spacing: 2px;
  }

  .main__button:hover::after,
  .main__button:focus-visible::after {
    transform: scale(1.64233576642336);
  }
}

@media (min-width: 90rem) {
  .main {
    padding-inline: 10.375rem;
  }
}
