*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************************************************/
/* Variables */
:root {
  /* Colors */
  --clr-dark-blue: hsl(230, 35%, 7%);
  --clr-light-purple: hsl(231, 77%, 90%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(0, 0%, 59%);

  /* Fonts */
  --ff-bellefair: 'Bellefair', serif;
  --ff-barlow-condensed: 'Barlow Condensed', sans-serif;
  --ff-barlow: 'Barlow', sans-serif;

  /* Others */
  --transition-fast: 250ms;
  --transition-slow: 400ms;
}

/**************************************************/
/* General Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../assets/home/background-home-mobile.jpg') top center / cover no-repeat;
  padding-block-start: 2.5rem;
}

a {
  text-decoration: none;
}

/**************************************************/
/* Header */
.header {
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo,
.header__logo a {
  display: inline-flex;
}

.header__logo {
  margin-inline-end: 4rem;
}

.logo-icon {
  width: 2.5rem;
}

.header__menu-btn,
.header__close-btn {
  width: 1.625rem;
  height: 1.438rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-color: red;
  border: none;
  cursor: pointer;
}

.header__menu-btn *,
.header__close-btn * {
  pointer-events: none;
}

.header__line {
  /* width: clamp(1rem, 100%, 29.625rem); */
  /* width: clamp(1rem, 100%, 59.25rem); */
  height: 2px;
  flex: 1 1 59.25rem;
  position: relative;
  right: -2rem;
  background-color: rgba(255, 255, 255, 0.15);
  /* background-color: red; */
  z-index: 1;
}

.header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(30px);
  padding-inline-start: 7.75rem;
}

/* .header__nav::before {
  content: '';
  display: block;
  width: clamp(1rem, 100%, 29.625rem);
  height: 2px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.15);
} */

.header__list {
  height: 100%;
  list-style: none;
  display: flex;
  column-gap: 3rem;
}

.header__item {
  height: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.header__link {
  display: inline-block;
  font-family: var(--ff-barlow-condensed);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: var(--clr-white);
  padding-block: 0.25em;
}

.header__link::after,
.header__link::before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  pointer-events: none;
}

.header__link::before {
  background-color: var(--clr-white);
}

.header__link--active::before {
  transform: scaleX(1);
}

.header__link::after {
  background-color: var(--clr-gray);
  transition: transform var(--transition-fast) ease;
}

.header__link:not(.header__link--active):hover::after {
  transform: scaleX(1);
}

/**************************************************/
/* Main */
.home__main {
  width: min(100%, 69.5rem);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-block-start: 15.75rem;
}

.home__intro {
  width: 28.125rem;
}

.home__title {
  font-family: var(--ff-barlow-condensed);
  font-size: 1.75rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--clr-light-purple);
}

.large-title {
  font-family: var(--ff-bellefair);
  font-size: 9.375rem;
  font-weight: 400;
  color: var(--clr-white);
}

.home__description {
  font-family: var(--ff-barlow);
  font-size: 1.125rem;
  line-height: 2rem;
  color: var(--clr-light-purple);
}

.home__button {
  width: 17.125rem;
  height: 17.125rem;
  position: relative;
  font-family: var(--ff-bellefair);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--clr-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.home__button::after {
  content: '';
  width: 28.125rem;
  height: 28.125rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.075);
  transform: translate(-50%, -50%) scale(0);
  transition: transform var(--transition-slow) ease;
  pointer-events: none;
}

.home__button:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

/**************************************************/
/* Media Queries */
@media (min-width: 768px) {
  body {
    background-image: url('../assets/home/background-home-tablet.jpg');
  }

  .logo-icon {
    width: 3rem;
  }

  .header__menu-btn,
  .header__close-btn {
    display: none;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url('../assets/home/background-home-desktop.jpg');
  }
}
