*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************************************************/
/* Variables */
:root {
  /* Colors */
  --clr-dark-blue: hsl(230, 33%, 7%);
  --clr-greyish-blue: hsl(231, 15%, 26%);
  --clr-light-purple: hsl(231, 77%, 90%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-white-10: hsla(0, 0%, 100%, 0.1);

  /* Fonts */
  --ff-bellefair: 'Bellefair', serif;
  --ff-barlow-condensed: 'Barlow Condensed', sans-serif;
  --ff-barlow: 'Barlow', sans-serif;

  /* Others */
  --transition-fast: 250ms;
  --transition-slow: 400ms;
}

/**************************************************/
/* General Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  background: top center / cover no-repeat;
  overflow-x: hidden;
  padding-inline: 1.5rem;
}

a {
  text-decoration: none;
}

/**************************************************/
/* Header */
.header {
  width: min(100%, 90rem);
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 1.5rem;
}

.header__logo,
.header__logo a {
  display: inline-flex;
}

.logo-icon {
  width: 2.5rem;
}

.header__open-nav,
.header__close-nav {
  width: 1.625rem;
  height: 1.438rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__open-nav *,
.header__close-nav * {
  pointer-events: none;
}

.header__close-nav {
  align-self: flex-end;
  animation: hide_element 260ms forwards;
}

.header--active .header__open-nav {
  animation: hide_element 200ms forwards;
}

.header--active .header__close-nav {
  animation-name: none;
  visibility: visible;
}

@keyframes hide_element {
  to {
    visibility: hidden;
  }
}

.header__line {
  width: min(100%, 29.625rem);
  height: 1px;
  display: none;
  position: relative;
  right: -1.875rem;
  background-color: var(--clr-white);
  opacity: 0.25;
  margin-inline-start: 2.125rem;
  z-index: 10;
}

.header__nav {
  width: 15.875rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  background-color: hsl(230, 33%, 7%, 98%);
  padding: 2rem 1.5rem 0 2rem;
  z-index: 100;
  transform: translateX(100%);
  transition: transform var(--transition-slow) ease-in-out;
}

.header--active .header__nav {
  transform: translateX(0);
}

.header__list {
  width: calc(100% + 1.5rem);
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  padding-block-start: 3.625rem;
  animation: hide_element 260ms forwards;
}

.header--active .header__list {
  animation-name: none;
  visibility: visible;
}

.header__item {
  height: 1.875rem;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.header__link {
  width: 100%;
  display: inline-block;
  font-family: var(--ff-barlow-condensed);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: var(--clr-white);
}

.header__link::after {
  content: '';
  display: block;
  width: 0.25rem;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--clr-white);
  opacity: 0.5;
  transform: scaleX(0);
  transition: transform var(--transition-fast) ease;
  pointer-events: none;
}

.header__link:hover::after,
.header__link:focus-visible::after {
  transform: scaleX(1);
}

.header__link--active::after {
  opacity: 1;
  transform: scaleX(1);
  transition: none;
}

/**************************************************/
/* Main */
.main {
  width: min(100%, 90rem);
  display: flex;
}

.main__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main__primary-title {
  font: 400 1rem var(--ff-barlow-condensed);
  text-transform: uppercase;
  letter-spacing: 0.169em;
  color: var(--clr-white);
}

.main__primary-title strong {
  opacity: 0.25;
  margin-inline-end: 1rem;
}

.main__secondary-title {
  font-family: var(--ff-bellefair);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: normal;
  color: var(--clr-white);
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__options {
  display: flex;
  justify-content: center;
  position: relative;
}

.main__option {
  width: 0;
  position: absolute;
  opacity: 0;
}

.main__description {
  font-family: var(--ff-barlow);
  font-size: 0.938rem;
  line-height: 1.563rem;
  color: var(--clr-light-purple);
}

/**************************************************/
/* Media Queries */

/* Tablet */
@media (min-width: 48rem) {
  body {
    row-gap: 2.5rem;
    padding-inline: 0;
  }

  .header {
    height: 6rem;
    padding-inline-start: 2.375rem;
    margin-block-start: 0;
  }

  .logo-icon {
    width: 3rem;
  }

  .header__open-nav,
  .header__close-nav {
    display: none;
  }

  .header__nav {
    width: max-content;
    height: 100%;
    min-height: auto;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: hsl(230, 33%, 7%, 92%);
    padding: 0 3rem 0;
    transform: none;
    z-index: 1;
  }

  .header__list {
    width: max-content;
    height: 100%;
    flex-direction: row;
    column-gap: 2.25rem;
    padding: 0;
    animation-name: none;
  }

  .header__item {
    height: 100%;
  }

  .header__link {
    width: auto;
    font-size: 0.875rem;
    letter-spacing: 2.36px;
    padding-block: 0.5em;
  }

  .header__link::after {
    width: 100%;
    height: 0.188rem;
    bottom: 0;
    right: auto;
  }

  .header__number {
    display: none;
  }

  .main {
    padding-inline: 2.5rem;
  }

  .main__primary-title {
    font-size: 1.25rem;
  }

  .main__description {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

/* Desktop */
@media (min-width: 64rem) {
  body {
    row-gap: 4.75rem;
  }

  .header {
    justify-content: center;
    padding-inline-start: 3.375rem;
    margin-block-start: 2.5rem;
  }

  .header__line {
    display: block;
  }

  .header__nav {
    width: min(100%, 51.875rem);
    padding: 0 clamp(5rem, 9vw, 7.75rem) 0;
  }

  .header__list {
    column-gap: 3rem;
  }

  .header__link {
    font-size: 1rem;
    letter-spacing: 2.7px;
  }

  .header__number {
    display: inline-block;
  }

  .main {
    padding-inline-start: 3.375rem;
  }

  .main__primary-title {
    font-size: 1.75rem;
  }

  .main__description {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}

@media (min-width: 90rem) {
  .header {
    position: relative;
    justify-content: flex-start;
  }

  .header__nav {
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 38.125rem;
  }

  .main {
    padding-inline-start: 10.375rem;
  }
}

/**************************************************/
/* CSS Supports */
@supports (backdrop-filter: blur()) {
  .header__nav {
    background-color: hsla(0, 0%, 100%, 4%);
    backdrop-filter: blur(60px);
  }
}
