/**************************************************/
/* General Styles */
body {
  background-image: url('../assets/crew/background-crew-mobile.jpg');
  padding-block-end: 3rem;
}

/**************************************************/
/* Main */
.main__content {
  width: min(100%, 32rem);
}

.main__picture {
  width: 100%;
  height: 13.938rem;
  display: flex;
  justify-content: center;
  border-bottom: 0.063rem solid var(--clr-greyish-blue);
  margin-block: 2rem;
}

.main__image {
  height: 100%;
}

.main__text {
  display: flex;
  flex-direction: column;
}

.main__options {
  column-gap: 0.5rem;
  margin-block-end: 2rem;
}

.main__label {
  width: 1.125rem;
  height: 1.125rem;
  background-color: var(--clr-white);
  background-clip: content-box;
  border-radius: 50%;
  opacity: 0.17;
  padding: 0.25rem;
  cursor: pointer;
  transition: opacity var(--transition-fast) ease;
}

.main__option:checked + .main__label {
  opacity: 1;
}

.main__option:not(:checked) + .main__label:hover {
  opacity: 0.5;
}

.main__role {
  font: 400 1rem var(--ff-bellefair);
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.5);
}

.main__second-title {
  font-size: 1.5rem;
  margin-block: 0.5rem 1rem;
}

@keyframes content_animation {
  from {
    opacity: 0;
    transform: translateX(-15%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/**************************************************/
/* Media Queries */

/* Tablet */
@media (min-width: 48rem) {
  body {
    background-image: url('../assets/crew/background-crew-tablet.jpg');
    padding-block-end: 0;
  }

  .main__content {
    width: 100%;
    flex-direction: column-reverse;
  }

  .main__picture {
    height: 33.25rem;
    border-bottom: none;
    margin-block: 0;
    overflow-y: hidden;
  }

  [data-section='Commander'] .main__image {
    height: 35.75rem;
  }

  .main__text {
    margin-block: 3.75rem 2.5rem;
  }

  [data-section='Commander'] .main__text {
    width: 28.625rem;
  }

  [data-section='Mission Specialist'] .main__text {
    width: 32.5rem;
  }

  [data-section='Pilot'] .main__text {
    width: 37rem;
  }

  [data-section='Flight Engineer'] .main__text {
    width: 33.5rem;
  }

  .main__options {
    margin-block: 2.5rem 0;
    order: 1;
  }

  .main__role {
    font-size: 1.5rem;
  }

  .main__second-title {
    font-size: 2.5rem;
  }
}

/* Desktop */
@media (min-width: 64rem) {
  body {
    background-image: url('../assets/crew/background-crew-desktop.jpg');
  }

  .main {
    padding-inline-end: 0;
  }

  .main__content {
    height: 40.875rem;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
  }

  [data-section='Commander'] .main__content {
    column-gap: clamp(3rem, 6vw, 5.063rem);
  }

  [data-section='Mission Specialist'] .main__content {
    column-gap: 1.25rem;
  }

  [data-section='Pilot'] .main__content {
    column-gap: clamp(3rem, 10vw, 8.625rem);
  }

  [data-section='Flight Engineer'] .main__content {
    column-gap: 2.313rem;
  }

  .main__picture {
    width: auto;
    height: 100%;
    align-items: flex-end;
    overflow-y: visible;
  }

  .main__image {
    height: max-content !important;
  }

  .main__text {
    width: auto !important;
    height: min(100%, 25.375rem);
    justify-content: space-between;
    margin-block: clamp(3rem, 11vw, 9.625rem) 0;
  }

  .main__options {
    align-self: flex-start;
    column-gap: 1rem;
    margin-block: 0;
  }

  .main__label {
    width: 1.438rem;
    height: 1.438rem;
  }

  .main__role {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
  }

  .main__second-title {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    margin-block: 0.938rem 1.688rem;
  }

  .main__description {
    width: min(35vw, 27.75rem);
  }
}
